



@using System.Text.Encodings.Web
@inject JavaScriptEncoder encoder
@model ComeTogether.Domain.Entities.Project


<style>

    body {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1.6em;
        font-weight: 300;
        color: #555;
    }

    p {
        margin-bottom: 2em;
    }

    header {
        margin: 0 0 20px 0;
    }

    .pageTitle,
    .pageSubTitle {
        font-family: 'Titillium', sans-serif;
        text-transform: uppercase;
        color: #333;
        white-space: nowrap;
        border-bottom: solid 1px #e0e0e0;
        text-align: center;
    }

    .pageTitle {
        color: #FF7600;
    }

    .pageTitle {
        font-size: 2em;
        font-weight: 700;
        line-height: 2em;
    }

    .pageSubTitle {
        line-height: 2em;
        font-size: 1.4em;
        font-weight: 300;
    }



    .wrapper {
        width: 70%
        padding: 60px;
        margin: 20px auto;
        background: #fff;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.25);
    }

    .form-group {
        position: center;
    }
</style>




@using (Html.BeginForm("Create", "Articles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{




<article class="wrapper">
    @ViewBag.Ok
    <header>
        <h1 class="pageTitle">Title</h1>

        <div class="col-md-12">
            @Html.EditorFor(model => model.ProjectName, new
       {
           htmlAttributes = new
           {
               @class = "form-control"
           }
       })
            @Html.ValidationMessageFor(model => model.ProjectName, "", new
       {
           @class =
 "text-danger"
       })

        </div>


    </header>
    <section>
        <p class="pageSubTitle">Background</p>

        <div class="col-md-12">
            @Html.EditorFor(model => model.Background, new
       {
           htmlAttributes = new
           {
               @class = "form-control"
           }
       })
            @Html.ValidationMessageFor(model => model.Background, "", new
       {
           @class =
 "text-danger"
       })
        </div>

    </section>
    <section>
        <h2 class="pageSubTitle"> Short description </h2>

        <div class="col-md-12">
            @Html.EditorFor(model => model.ShortDescription, new
       {
           htmlAttributes = new
           {
               @class = "form-control"
           }

            })
            @Html.ValidationMessageFor(model => model.ShortDescription, "", new
       {
           @class =
    "text-danger"
       })

        </div>
    </section>

    <section>
        <h2 class="pageSubTitle"> Category </h2>
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
        </div>

    </section>
    <section>
        <p class="pageSubTitle">Full description</p>

        <div class="col-md-12">
            @Html.EditorFor(model => model.FullDescription, new
       {
           htmlAttributes = new
           {
               @class = "form-control"
           }
       })
            @Html.ValidationMessageFor(model => model.FullDescription, "", new
       {
           @class =
 "text-danger"
       })
        </div>

    </section>
    <section>
        <p class="pageSubTitle">RisksAndChallenges</p>

        <div class="col-md-12">
            @Html.EditorFor(model => model.RisksAndChallenges, new
       {
           htmlAttributes = new
           {
               @class = "form-control"
           }
       })
            @Html.ValidationMessageFor(model => model.RisksAndChallenges, "", new
       {
           @class =
 "text-danger"
       })
        </div>

    </section>
    <section>
        <p class="pageSubTitle">Start Budget</p>

        <div class="col-md-12">
            @Html.EditorFor(model => model.StartBudget, new
       {
           htmlAttributes = new
           {
               @class = "form-control"
           }
       })
            @Html.ValidationMessageFor(model => model.StartBudget, "", new
       {
           @class =
 "text-danger"
       })
        </div>

    </section>

    <section>
        <p class="pageSubTitle">Start Date</p>

        <div class="col-md-12">
            @Html.EditorFor(model => model.StartDate, new
       {
           htmlAttributes = new
           {
               @class = "form-control"
           }
       })
            @Html.ValidationMessageFor(model => model.StartDate, "", new
       {
           @class =
 "text-danger"
       })
        </div>

    </section>
    <input type="file" name="ImageData" id="ImageData" style="margin:1.5em" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</article>


}



<div>
    <a asp-action="Index">Back to List</a>
</div>

