@model ComeTogether.Domain.Entities.Project

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>@Localizer["Areyousureyouwanttodeletethis?"]</h3>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FounderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FounderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjectId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer[" "]Back to List</a>
    </form>
</div>
