@model IEnumerable<ComeTogether.Domain.Entities.Project>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<link href="~/css/Projects.css" rel="stylesheet" />

<div id="container">
    <div class="mockup">

        <div class="outer-search">
            <div class="search-filter">
                <form asp-action="Index" method="get" defaultbutton="SubmitButton" runat="server">
                    <div id="container">
                        <div class="mockup">

                            <div class="outer-search">
                                <div class="search-filter">
                                    <div class="search-container">
                                        <i class="material-icons search-icon">@Localizer["search"]</i>
                                        <input type="text" id="search" name="SearchString" placeholder=@Localizer["search"] value="@ViewData["currentFilter"]" />
                                        <a href="/Projects/Index?SearchString" class="iconBtn" id="createProjectBtn">
                                            <div class="iconBtn__content">

                                                @Localizer["AllProjects"]
                                            </div>

                                        </a>
                                    </div>
                                  
                                </div>

                            </div>
                        </div>

                    </div>
                </form>
                <div class="filter">
                    <div class="pill active">@Localizer["Art"]</div>
                    <div class="pill">@Localizer["Clothes"]</div>
                    <div class="pill">@Localizer["Food&Craft"]</div>
                    <div class="pill">@Localizer["Technology"]</div>
                    <div class="pill">@Localizer["Film"]</div>
                    <div class="pill">@Localizer["Music"]</div>
                    <i class="material-icons">keyboard_arrow_right</i>
                </div>
            </div>
        </div>
        <div class="feeds" id="feeds">
            <div class="board s-1">
                <h1>Board</h1>
                <div class="card top-challenge">
                    <div class="overlay">
                        <span class="title-card">News App Challenge</span>
                        <p class="card-body">Time to vote for your favorite posts created by the UPLABS community</p>
                        <i class="material-icons forwards">arrow_forward</i>
                    </div>
                </div>
                <div class="card list-challenge">
                    <span class="title-card">Active Challenge</span>
                    <div class="challenge-element">
                        <i class="material-icons">access_time</i>
                        <div class="challenge-info">
                            <h5>Clock App Challenge</h5>
                            <span class="challengers">131 challengers</span>
                        </div>
                        <div class="vote">Vote</div>
                    </div>
                    <div class="challenge-element">
                        <i class="material-icons">show_chart</i>
                        <div class="challenge-info">
                            <h5>Analytics Dashboard</h5>
                            <span class="challengers">150 challengers</span>
                        </div>
                        <div class="vote">Vote</div>
                    </div>
                    <div class="challenge-element">
                        <i class="material-icons">vertical_split</i>
                        <div class="challenge-info">
                            <h5>News App Challenge</h5>
                            <span class="challengers">160 challengers</span>
                        </div>
                        <div class="vote">Vote</div>
                    </div>
                    <div class="viewall">View All</div>
                </div>
                <div class="card">
                    <span class="title-card">Advert</span>
                    <div class="placeholder" style="width: 250px"></div>
                    <div class="placeholder" style="width: 200px"></div>
                    <div class="placeholder" style="width: 150px"></div>
                    <div class="placeholder" style="width: 180px"></div>
                </div>
            </div>
            <div class="today s-2">
                <h1>Today</h1>
                @foreach (var item in Model)
                {
                    <div class="card">
                        <div class="add">
                            <a href="@Url.Action("Details", "Projects", new { id = item.ProjectId }, null)"><i class="material-icons">add</i></a>
                        </div>
                        @{ if (@item.Photo != null)
                            {
                                var base64 = Convert.ToBase64String(@item.Photo);
                                var imagesrc = string.Format("data:image/jpeg;base64,{0}", base64);

                                <img src="@imagesrc" alt="" class="recipe-item__img" />
                            }
                            else
                            {
                                <img src="https://images.unsplash.com/photo-1572627614289-96a849461dd3?ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80" alt="" class="recipe-item__img" />
                            }
                        }
                        <div class="card-footer">
                            @*<div class="card-info">
                            <h4>@Html.DisplayFor(modelItem => item.ProjectName)</h4>
                            <span class="card-maker">@Html.DisplayFor(modelItem => item.Category.CategoryName)</span>
                        </div>*@
                            <div class="card-vote">


                                <span class="card-maker">@Html.DisplayFor(modelItem => item.ProjectName)</span>
                                <span class="card-maker">@Html.DisplayFor(modelItem => item.ShortDescription)</span>
                            </div>
                            <div class="card-vote">


                                <span class="card-maker">Partners</span>
                            </div>
                        </div>
                    </div>


                }

            </div>
            <div class="yesterday s-2" style="display:grid">
                <h1>Yesterday</h1>
                <div class="card">
                    <div class="add"><i class="material-icons">add</i></div>
                    <img src="https://assets.materialup.com/uploads/75b6c075-0d1a-47c8-81f9-35819d9fa7d0/preview.png" />
                    <div class="card-footer">
                        <div class="card-info">
                            <h4>Space Page</h4>
                            <span class="card-maker">Julien</span>
                        </div>
                        <div class="card-vote">
                            <i class="material-icons up">arrow_drop_up</i>
                            <span class="upvotes">194</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


