@model ComeTogether.Domain.Entities.Article
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@using (Html.BeginForm("Create", "Articles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <article class="wrapper col-sm-8">
        @ViewBag.Ok
        <a class=" iconBtn ">@ViewBag.Created</a>
        <header>
            <h1 class="pageTitle">Title</h1>

            <div class="col-md-12">
                @Html.EditorFor(model => model.Name, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"
               }
           })
                @Html.ValidationMessageFor(model => model.Name, "", new
           {
               @class =
     "text-danger"
           })

            </div>


        </header>
        <section>
            <h2 class="pageSubTitle"> Description </h2>

            <div class="col-md-12">
                @Html.EditorFor(model => model.Briefly, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"
               }

                })
                @Html.ValidationMessageFor(model => model.Briefly, "", new
           {
               @class =
        "text-danger"
           })

            </div>
        </section>
        <section>
            <p class="pageSubTitle">Body</p>

            <div class="col-md-12">
                @(Html.DevExtreme().HtmlEditorFor(model => model.Description)
    .ID("html-editor")
    .Height(725)
    .Content(@<text>

    </text>)
    .Toolbar(toolbar => toolbar.Items(
        items => {
            items.Add().FormatName(HtmlEditorToolbarItem.Undo);

            items.Add().FormatName(HtmlEditorToolbarItem.Redo);

            items.Add().FormatName(HtmlEditorToolbarItem.Separator);

            items.Add()
                .FormatName("size")
                .FormatValues(new[] { "8pt", "10pt", "12pt", "14pt", "18pt", "24pt", "36pt" });

            items.Add()
                .FormatName("font")
                .FormatValues(new[] { "Arial", "Courier New", "Georgia", "Impact", "Lucida Console", "Tahoma", "Times New Roman", "Verdana" });

            items.Add().FormatName(HtmlEditorToolbarItem.Separator);

            items.Add().FormatName(HtmlEditorToolbarItem.Bold);

            items.Add().FormatName(HtmlEditorToolbarItem.Italic);

            items.Add().FormatName(HtmlEditorToolbarItem.Strike);

            items.Add().FormatName(HtmlEditorToolbarItem.Underline);

            items.Add().FormatName(HtmlEditorToolbarItem.Separator);

            items.Add().FormatName(HtmlEditorToolbarItem.AlignLeft);

            items.Add().FormatName(HtmlEditorToolbarItem.AlignCenter);

            items.Add().FormatName(HtmlEditorToolbarItem.AlignRight);

            items.Add().FormatName(HtmlEditorToolbarItem.AlignJustify);

            items.Add().FormatName(HtmlEditorToolbarItem.Separator);

            items.Add().FormatName(HtmlEditorToolbarItem.OrderedList);

            items.Add().FormatName(HtmlEditorToolbarItem.BulletList);

            items.Add().FormatName(HtmlEditorToolbarItem.Separator);

            items.Add()
                .FormatName("header")
                .FormatValues(new JS("[false, 1, 2, 3, 4, 5]"));

            items.Add().FormatName(HtmlEditorToolbarItem.Separator);

            items.Add().FormatName(HtmlEditorToolbarItem.Color);

            items.Add().FormatName(HtmlEditorToolbarItem.Background);

            items.Add().FormatName(HtmlEditorToolbarItem.Separator);

            items.Add().FormatName(HtmlEditorToolbarItem.Link);

            items.Add().FormatName(HtmlEditorToolbarItem.Image);

            items.Add().FormatName(HtmlEditorToolbarItem.Separator);

            items.Add().FormatName(HtmlEditorToolbarItem.Clear);

            items.Add().FormatName(HtmlEditorToolbarItem.CodeBlock);

            items.Add().FormatName(HtmlEditorToolbarItem.Blockquote);

            items.Add().FormatName(HtmlEditorToolbarItem.Separator);

            items.Add().FormatName(HtmlEditorToolbarItem.InsertTable);

            items.Add().FormatName(HtmlEditorToolbarItem.DeleteTable);

            items.Add().FormatName(HtmlEditorToolbarItem.InsertRowAbove);

            items.Add().FormatName(HtmlEditorToolbarItem.InsertRowBelow);

            items.Add().FormatName(HtmlEditorToolbarItem.DeleteRow);

            items.Add().FormatName(HtmlEditorToolbarItem.InsertColumnLeft);

            items.Add().FormatName(HtmlEditorToolbarItem.InsertColumnRight);

            items.Add().FormatName(HtmlEditorToolbarItem.DeleteColumn);
        })
    )
    .MediaResizing(m => m.Enabled(true))
)
              
                @Html.ValidationMessageFor(model => model.Description, "", new
           {
               @class =
     "text-danger"
           })
            </div>

        </section>
        <div align="center" class="mt-1">
            <img src="~/images/users_icons/Путь_к_картинке" class="img" width="100%">
        </div>
        <div align="center">
            <label id="profile-image">
                <small>@Localizer["Upload"]</small>
                <small>
                    <input type="file" name="image" id="Imageinput" hidden onchange="imgprev(this)">

                    <i class="fa fa-camera" aria-hidden="true"></i>
                </small>
            </label>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </article>
}


<div class="options">
    <div class="caption">Options</div>
    <div class="option">
        @(Html.DevExtreme().CheckBox()
            .Value(true)
            .Text("Multiline toolbar")
            .OnValueChanged("change_multiline")
        )
    </div>
</div>

<script>
    function change_multiline(e) {
        $("#html-editor")
            .dxHtmlEditor("instance")
            .option("toolbar.multiline", e.value);
    }
</script>

<link rel="stylesheet" href="~/css/CreateArticle.css" />



@section Scripts {

    <script src="~/js/photoLoad.js"></script>

}