@model ComeTogether.Domain.Entities.Article
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/CreateArticle.css" />

<article class="book-reader">
    <input type="checkbox" id="invert">
    <input type="checkbox" id="fullscreen">

    <label for="invert"></label>
    <label for="fullscreen"></label>




    <section>
        <div class="page">
            <h1> Article </h1>

            <p>
                @Html.DisplayFor(model => model.Name)
            </p>
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>
            <p>
                @Html.DisplayFor(model => model.Briefly)
            </p>
            <p>
                @Html.DisplayFor(model => model.PostDate)
            </p>

            @Html.DisplayFor(model => model.Photo)
        </div>
    </section>
</article>


<div>
    <a asp-action="Edit" asp-route-id="@Model.ArticleId">Edit</a> |
    <a asp-action="Index">@Localizer["BacktoList"]</a>
</div>
