@model ComeTogether.Domain.Entities.Category

@{
    ViewData["Title"] = "Details";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/ArticleDetail.css" />


<div class="container">
    <article class="card">
        <div class="card__media">
            @if (@Model.Picture == null)
            {
                <img src="https://images.unsplash.com/photo-1496317899792-9d7dbcd928a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80" alt="A flying flock of ducks">

            }
            else
            {
                var base64 = Convert.ToBase64String(@Model.Picture);
                var imagesrc = string.Format("data:image/jpeg;base64,{0}", base64);

                <img src="@imagesrc" alt="" class="recipe-item__img" />
            }
        </div>
        <div class="card__content">
            <h2>Title</h2>

            <p>
                @Html.DisplayFor(model => model.CategoryName)
            </p>
            
           
        </div>
    </article>
    
</div>




<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a> |
    <a asp-action="Index">@Localizer["BacktoList"]</a>
</div>
