
@using ComeTogether.Domain.Entities
@using System.Linq
@model IEnumerable<UserProfileModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer




<link rel="stylesheet" href="~/css/Account.min.css" />
<div class="wrapper">


    <div class="profile-card js-profile-card">
       

        <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">@ViewBag.UserName</div>
            <div class="profile-card__txt">@Localizer["PhoneNumber"] <strong>@ViewBag.PhoneNumber</strong></div>

            <div class="profile-card__txt">@Localizer["Connect with me by e-mail:"] <strong>@ViewBag.Email</strong></div>
            <div class="profile-card-loc">
                <span class="profile-card-loc__icon">
                    <svg class="icon"><use xlink:href="#icon-location"></use></svg>
                </span>

                <span class="profile-card-loc__txt">
                    @ViewBag.Address
                </span>
            </div>

            <div class="profile-card-inf">


            </div>

            <div class="profile-card-social">
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="https://img.icons8.com/fluent/50/000000/facebook-new.png" />
                </a>

                <a href="https://twitter.com/" target="_blank">
                    <img src="https://img.icons8.com/fluent/50/000000/twitter.png" />
                </a>

                <a href="https://www.instagram.com/" target="_blank">
                    <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" />
                </a>



            </div>


            <form asp-controller="Admin" asp-action="EmailUser" class="profile-card-ctr">
                <button class="profile-card__button button--blue js-message-btn" value=" @ViewBag.Address" >Message</button>
                <button class="profile-card__button button--orange">Follow</button>
            </form>
        </div>





    </div>

</div>