@page
@model LoginModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<link rel="stylesheet" href="~/css/Login.css" />
<div class="containerLog" id="container">



    <div class="form-container sign-in-container">
        <form id="account" method="post">
            <h1>
                @Localizer["Sign in"]
            </h1>
            @*<div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <span>@Localizer["oruseyouraccount"]</span>*@
    <input type="email" placeholder="Email" asp-for="Input.Email" class="form-control" />
    <span asp-validation-for="Input.Email" class="text-danger"></span>
    <input type="password" placeholder="Password" asp-for="Input.Password" class="form-control" />
    <span asp-validation-for="Input.Password" class="text-danger"></span>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                @Localizer["Remember Me"]
            </label>
        </div>
    </div>
    <a id="forgot-password" asp-page="./ForgotPassword">@Localizer[""]Forgot your password?</a>
    <button>@Localizer["Sign In"]</button>
    </form>
</div>
<div class="overlay-container">
    <div class="overlay">
      
        <div class="overlay-panel overlay-right">
            <h1>@Localizer["Hello, Friend!"]</h1>
            <p>@Localizer["Enter your personal details and start journey with us"]</p>
            <a href="/Identity/Account/Register" class="ghost" id="signUp">@Localizer["Sign Up"]</a>
        </div>
    </div>
</div>

</div>


@section Scripts {
    <partial name = "_ValidationScriptsPartial" />
}




